.obsidian/plugins/obsidian-git/data.json 
.obsidian/plugins/recent-files-obsidian/data.json 
.obsidian/plugins/obsidian-checklist-plugin/data.json 
.obsidian/appearance.json 
.obsidian/workspace.json
.obsidian/workspace-mobile.json 
.obsidian/workspace-LAPTOP-V7OJEVKD.json 
.obsidian/workspace-LAPTOP-V7OJEVKD-2.json 
.trash/*
.obsidian/cache 
